<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    {{ partial "head/meta.html" . }}
    {{ partial "head/favicon.html" . }}
    <title>{{ .Title }}</title>

    <!-- Styles -->
    {{ partial "head/styles/external.html" . }}
    {{ partial "head/styles/internal.html" . }}
    <link rel="stylesheet" href="/css/custom-single.css">

</head>

<body>
    <div class="container">
        <!-- Nav -->
        {{ partial "header/nav.html" . }}

        <!-- Wrapper -->
        <div class="wrapper">
            <!-- Header -->
            <div class="row flex-header">
                <h1>{{ .Params.header }}</h1>
                <div class="flex-header-buttons">
                    <button class="btn btn-secondary btn-highlight btn-sm tippyme"
                        data-tippy-content="Go to the Challenge" onclick="openInNewTab('{{ .Params.challengeUrl }}')"><i
                            class="fas fa-fire"></i> Let's Go!
                    </button>
                    {{ if isset .Params "live" }}
                    <button class="btn btn-secondary btn-sm tippyme" data-tippy-content="Submit Solution"
                        data-toggle="modal" data-target="#solved"><i class="fas fa-check function"></i></button>
                    {{ else }}
                    <button class="btn btn-secondary btn-sm tippyme" data-tippy-content="Show Solution"
                        data-toggle="modal" data-target="#solution"><i class="fas fa-eye function"></i></button>
                    {{ end }}

                    {{ if isset .Params "solvers" }}
                    <button class="btn btn-secondary btn-sm tippyme" data-tippy-content="Solvers" data-toggle="modal"
                        data-target="#solvers"><i class="fas fa-trophy gold"></i></button>
                    {{ end }}
                </div>
            </div>

            <!-- Main Content -->
            {{ .Content }}
        </div>

        <br>
        <br>
    </div>

    <!-- Modals -->
    {{ partial "modals/about.html" . }}

    <!-- Scripts -->
    {{ partial "footer/scripts/external.html" . }}
    {{ partial "footer/scripts/internal.html" . }}
    {{ partial "footer/scripts/analytics.html" . }}
</body>

</html>