<div
  style="
    padding: 10px;
    background-color: black;
    border-radius: 6px;
    margin: 20px 0;
  "
>
  🔔 This site is not maintained anymore. I'm building a better platform -
  <a
    href="https://hackercamp.co"
    style="font-weight: bold; text-decoration: underline"
    target="_blank"
    >HackerCamp.co</a
  >. Follow updates on twitter
  <a
    href="https://twitter.com/TheHackercamp"
    style="font-weight: bold; text-decoration: underline"
    target="_blank"
    >@TheHackerCamp</a
  >
</div>
