<div
  style="
    padding: 10px;
    background-color: black;
    border-radius: 6px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <span
    >🔔 This site is not maintained anymore. I'm building a better platform
    -&nbsp;
  </span>
  <a
    href="https://hackercamp.co"
    style="font-weight: bold; text-decoration: underline"
    target="_blank"
    >HackerCamp.co</a
  >
  <a
    href="https://twitter.com/@PwnFunction"
    target="_blank"
    style="margin-left: 14px"
  >
    <i class="fab fa-twitter"></i>
  </a>
</div>
