<!-- Navbar -->
<nav class="nav">
    <div class="nav-left">
        <div class="logo">
            <a href="/">
                <span class="pwn">Pwn</span><span class="function">()</span>
            </a>
        </div>
    </div>
    <div class="nav-middle"><span data-toggle="modal" data-target="#about">XSS Game</span></div>
    <div class="nav-right">
        <a href="https://twitter.com/@PwnFunction" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://youtube.com/PwnFunction" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</nav>