<!-- Meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Google Verify -->
<meta name="google-site-verification" content="dDU-Hj4a7MtbmJR9e53fGaDlJbE-lsWLoSN2PZSz25w" />

<!-- SEO -->
<meta name="description" content="XSS Game: Learn Cross Site Scripting (XSS) by completing challenges!" />
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="https://xss.pwnfunction.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="XSS Game: Learn Cross Site Scripting (XSS) by completing challenges!" />
<meta property="og:url" content="https://xss.pwnfunction.com/" />
<meta property="og:site_name" content="PwnFunction" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="XSS Game: Learn Cross Site Scripting (XSS) by completing challenges!" />
<meta name="twitter:title" content="{{ .Title }}" />