.info {
    color: $info;
}

.danger {
    color: $danger;
}

.success {
    color: $success;
}

.secondary {
    color: $secondary;
}

.primary {
    color: $primary;
}

.gold {
    color: $gold;
}

.pwn {
    color: #ff4473;
}

.function {
    color: #0ff;
}